.logo__all {
    width:45px;
    height:auto;
}
@media (min-width: 990px) {
    .logo__burger {
        display: none;
    }
    .scale_when_hover_10 {
        transition: transform 300ms;
        &:hover {
            transform: scale(1.1);
        }
    }
    .scale_when_hover_20 {
        transition: transform 300ms;
        &:hover {
            transform: scale(1.25);
        }
    }    
  }
  @media (max-width: 990px) {
    .logo__full {
        display: none;        
    }
  }


