body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    min-width: 350px;
}






.h1_center {
    text-align: center;
    padding-bottom: 60px;
    font-size: 40;
}





.hello_text__section {
    padding: 4rem 2rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    box-shadow: inset 0px 0px 500px 10px #a8a8a838;
    border-radius: 0.8rem;
    min-width: 330px;
    padding-right: 0cm;
    padding-left: 0cm;
}
@media (max-width: 1000px) {
    .hello_text__section {
        border-radius: 0.5rem;
        box-shadow: inset 0px 0px 200px 50px #9797971a;
    }
}

.hello_block {
    max-width: 650px;
    margin: auto;
    padding-right: 1cm;
    padding-left: 1cm;
}

.hello__pic {
    max-width: 330px;
    /* margin: auto; */
}
@media (max-width: 450px) {
    .hello__pic {
      margin: auto;
      transition: transform 1s;
    }
}


.list {
    margin: 1cm;
    margin-left: 10%;
    text-align: left;
}
.foot {
    text-align: left;
    max-width: 650px;
    margin: auto;
    padding-right: 1cm;
    padding-left: 1cm;
    font-size: 10;
}



