<header class="head">
    <nav class="navbar navbar-expand-lg site-nav">
        <div class="burger-menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="./" class="logo__burger">
                <img src="./img/logo22.png" width="45" height="31" class="logo__burger logo__all" alt="sglazkov.pro logo">
            </a>
        </div>

        <a href="./" class="navbar-brand brand-home">
            <img src="./img/logo22.png" width="45" height="31" class="brand-logo" alt="sglazkov.pro logo">
            <span class="brand-text">sglazkov.pro</span>
        </a>

        <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./#about">Обо мне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./books">Что по книгам?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link frog-cta" href="#" onclick="playMusic();return false;">Выпусти жабу</a>
                </li>
            </ul>
        </div>
    </nav>
</header>