body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    min-width: 600px;
    text-align: center;
    padding-bottom: 40px;
    font-size: 40;
}
main_body {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    margin: auto;
}
foot {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    max-width: 600px;
    min-width: 400px;
    margin: auto;
    font-size: 10;
}