body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-left: 0%;
    padding-right: 0%;
    min-width: 350px;
}

.head__logo {
    display: block;
    max-width: 100px;
    width: 100%;
    transition: transform 100ms;
    margin-right: 100%;
  
    &:hover {
      transform: scale(1.3);
    }
  }

  
.head__logolink__burger {
    display:inline-block;
    width:45px;
    height:31px;
    padding-top: 5px;
}
@media (min-width: 1000px) {
    .head__logolink__burger {
        display:none;
    }
  }

.head__aside {
    display: flex;
    margin-right: -15px;
}


.head__logolink {
    display: block;
    width: 45px;
    -webkit-tap-highlight-color: transparent;
  }


.h1_center {
    text-align: center;
    padding-bottom: 60px;
    font-size: 40;
}
.hello_text__section {
    padding: 4rem 2rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    box-shadow: inset 0px 0px 500px 10px #a8a8a848;
    border-radius: 0.8rem;
    min-width: 330px;
    padding-right: 0cm;
    padding-left: 0cm;
}
@media (max-width: 1000px) {
    .hello_text__section {
        border-radius: 0.5rem;
        box-shadow: inset 0px 0px 200px 50px #97979748;
    }
  }


.hello_block {
    max-width: 650px;
    margin: auto;
    padding-right: 1cm;
    padding-left: 1cm;
}
.hello__pic {
    max-width: 330px;
    /* margin: auto; */
}
img {
    width: 100%;
    height: auto;
}
.list {
    margin: 1cm;
    margin-left: 10%;
    text-align: left;
}
@media (max-width: 450px) {
    .hello__pic {
      margin: auto;
      transition: transform 1s;
    }
  }
.foot {
    text-align: left;
    max-width: 650px;
    margin: auto;
    padding-right: 1cm;
    padding-left: 1cm;
    font-size: 10;
}
